<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secil's TeaPot</title>
</head>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container d-flex justify-content-center">

    <div class="card">
        <h3 class="card-header p-5 bg-info">Welcome to Employee Registration Page</h3>
        <div class="card-body">

             <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputFirstName4">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName4">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputLastName4">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName4">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputBirthday4">Birthday</label>
                        <input type="date" class="form-control" id="inputBirthday4">
                    </div>
                </div>

                 <div class="form-row">
                     <div class="form-group col-md-6">
                     <label for="inputEmail4">Email</label>
                     <input type="text" class="form-control" id="inputEmail4">
                 </div>
                 <div class="form-group col-md-6">
                     <label for="inputPassword4">Password</label>
                     <input type="text" class="form-control" id="inputPassword4">
                 </div>
        </div>


                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            I agree terms
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>