<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Container for metadata (is not displayed)
         Title, Styles, Link, Scripts, Meta and other
    -->
    <meta name="Secil">

</head>

<!-- Everything comes from body in ui-->

<body>
##### W e l c o m e T o F u l l S t a c k J a v a D e v e l o p e r C o u r s e #####

<h1> Spring Boot </h1>
<h2> Java </h2>
<h3> HTML </h3>
<h4> SQL </h4>

<h1 align="center" style="color: blue"> Spring Framework </h1>
<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li> API</li>
</ul>


<a href="http://www.amazon.com"> Amazon </a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
</table>

<!--    Forms  -->

<label> User Name: </label>
<input type="text" name="username"><br>
<label> Password: </label>
<input type="password"><br>
<label> Enter your comments: </label>
<textarea name="comments"></textarea>

<label>Please select your fav subject:</label><br>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC
<input type="radio" name="Spring" value="DI" checked="checked">DI
<input type="radio" name="Spring" value="MVC" checked="checked">MVC

<label> Please select your company:</label><br>
<input type="checkbox" name="company" value="Bank of America">BOA
<input type="checkbox" name="company" value="Capital One">Capital One
<input type="checkbox" name="company" value="Limited">LTD

<label>Select your car:</label>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="nissan">Nissan</option>
    <option value="bmw">BMW</option>
</select>

<form action="#" method="get">
    First name:<input type="text" name="first_name"/>
    <br>
    Last name:<input type="text" name="last_name"/>
</form>

<div>
    <h3>This is the class I take</h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>
</div>


</body>


</html>