<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secil's TeaPot</title>
</head>

<body>

    <div th:fragment="bottom-menu">
        <!-- footer -->
        <footer class="page-footer font-small blue fixed-bottom">
            <div class="footer-copyright text-center py-3">© 2020 TeaPotApp – All Rights Reserved:</div>
        </footer>
    </div>


    <div th:fragment="teapot">
        <!-- footer -->
        <footer class="page-footer font-small blue fixed-bottom">
            <div class="footer-copyright text-center py-3">© 2020 TeaPot – All Rights Reserved:</div>
        </footer>
    </div>

    <div th:fragment="secil">
        <!-- footer -->
        <footer class="page-footer font-small blue fixed-bottom">
            <div class="footer-copyright text-center py-3">© 2020 Secil's Teapot – All Rights Reserved:</div>
        </footer>
    </div>

    <div th:fragment="main-menu">
        <a href="https://www.google.com/">Google</a>
    </div>

    <p th:fragment="footer-menu">
        <a href="https://www.gmail.com">Privacy</a>
    </p>
</body>
</html>